#root {
  margin: 0;
  padding: 0;
}

div .LeftSide {
  display: flex;
  float: left;
  width: 65%;
  height: 100vh;
  background-color: #f8f8f8;
}

div .RightSide {
  display: flex;
  float: right;
  width: 35%;
  height: 100vh;
  background-color: #3c6e71;
}

.login-box {
  max-width: 400px;
  margin: auto;
  padding: 40px;
  background: #fff;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.login-box h1 {
  margin: 0 0 20px;
  color: #000;
}

.login-button {
  padding: 10px 30px;
  background-color: #E27D4F;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
}

.register-box {
  margin: auto;
  padding: 30px;
  text-align: center;
}

.register-button {
  padding: 10px 40px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}