:root {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #3C6E71;
  --secondary-color: #e27d4f;
  --tertiary-color:  #e6cb5c;
  --background-white: #f8f9fa;
  --background-green: #3c6e71;
  --light-border: rgb(216, 216, 216);
  --darker-border: #7D898F;
  --light-text: #697377;
  --dark-text: #000000;
  --error-background: #f8d7da;
  --error: #dc3545;
  --disabled-background: var(--light-border);
  --disabled: grey;

  --status-applied: #1c1b5a;
  --status-applied-light: #1c1b5a10;
  --status-interviewing: #eeb200;
  --status-interviewing-light: #eeb20010;
  --status-accepted: #4CAF50;
  --status-accepted-light: #4caf4f15;
  --status-offer-received: #3d87dd;
  --status-offer-received-light: #3d88dd13;
  --status-rejected: #e74c3c;
  --status-rejected-light: #e74d3c0c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: transparent;
  font-weight: bold;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  display: inline-block;
}

button:hover {
  transform: scale(1.03);
  transition: transform 0.15s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
}

button:active {
  transform: scale(0.98);
  transition: transform 0.15s;
}

input {
  padding: 7.5px 10px;
  border-radius: 20px;
  font-size: 1.2em;
  border: 2px solid var(--light-border);
}

input::placeholder {
  color: #a8a8a8;
}
