.tableWrapper {
  overflow-x: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1.5px solid var(--light-border);
    color: var(--light-text);
}
th {
    border-bottom: 2px solid var(--darker-border);
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap; 
    padding-right: 20px;
}

th:hover {
    background-color: rgba(230, 230, 230, 0.5); 
}

tbody tr:hover {
    background-color: #f0f0f0; 
    cursor: pointer;
}

.statusCell {
  padding: 5px 8px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: var(--background-white);
  font-size: 0.8em;
  min-width: 100px; 
  display: inline-block; 
}

.urlCell:link {
  color: #88C0D0;
}

.urlCell:visited {
  color: #88C0D0;
}

.notesCell {
  cursor: pointer;
  color: #88C0D0;
  text-decoration: underline;
}

.statusapplied { background-color: var(--status-applied); }
.statusinterviewing { background-color: var(--status-interviewing); }
.statusaccepted { background-color: var(--status-accepted); }
.statusofferreceived { background-color: var(--status-offer-received); }
.statusrejected { background-color: var(--status-rejected); }